<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户详情</title>
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/user.css">
</head>

<body>
<div class="container changepass">
    <h4 class="title clearfix">GER错误监控系统 超级管理员<input type="button" class="logout fr" value="退出"/></h4 class="clearfix">
    <div class="content">
        <div class="left_area fl">
            <ul>
                <li><a href="/user/add">添加用户</a></li>
                <li><a href="/error/list">错误列表</a></li>
            </ul>
        </div>
        <div class="right_area">
            <div class="">
                <p class="content_title">修改密码</p>
                <ul>
                    <li>
                        <label for="password">新密码: </label><input type="password" id="password" class="password" />
                    </li>
                    <li>
                        <label for="password">确认密码: </label><input type="password" id="password" class="password" />
                    </li>
                </ul>
                <div class="submit">
                    <input type="button" class="change" value="修改"/>
                    <input type="button" class="back" value="返回"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
