<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title%></title>
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/user.css">
    <script type="text/javascript">
        var GLOBAL_CONFIG = {
            isLogin: <% if (isLogin) { %>true<% }else{ %>false <% }%>,
            character: "<% if (isLogin) { %><%= character %><%}%>"
        }

    </script>
</head>

<body>
<div id="ger-ui"></div>
<!-- 
<div class="container">
   
    <h4 class="title clearfix">GER错误监控系统 超级管理员<a href="/logout" class="logout fr" >退出</a></h4>
    <div class="content">
        <div class="left_area fl">
            <ul>
                <li><a href="/user/add">添加用户</a></li>
                <li><a href="/error/list">错误列表</a></li>
            </ul>
        </div>
        <div class="right_area">
            <div class="userlist">
                <ul>
                    <li><span>1.用户名 user-1 创建时间:2017-02-01</span><input class="btn delete fr" type="button" value="删除"/><input class="btn edit fr" type="button" value="编辑"/></li>
                    <li><span>2.用户名 user-2 创建时间:2017-02-01</span><input class="btn delete fr" type="button" value="删除"/><input class="btn edit fr" type="button" value="编辑"/></li>
                    <li><span>3.用户名 user-3 创建时间:2017-02-01</span><input class="btn delete fr" type="button" value="删除"/><input class="btn edit fr" type="button" value="编辑"/></li>
                    <li><span>4.用户名 user-4 创建时间:2017-02-01</span><input class="btn delete fr" type="button" value="删除"/><input class="btn edit fr" type="button" value="编辑"/></li>
                    <li><span>5.用户名 user-5 创建时间:2017-02-01</span><input class="btn delete fr" type="button" value="删除"/><input class="btn edit fr" type="button" value="编辑"/></li>
                    <li><span>6.用户名 user-6 创建时间:2017-02-01</span><input class="btn delete fr" type="button" value="删除"/><input class="btn edit fr" type="button" value="编辑"/></li>
                </ul>                
            </div>
        </div>
    </div>
</div> -->
<script type="text/javascript" src="http://10.69.41.28:8889/dist/main.js"></script>
</body>
</html>
