<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <script type="text/javascript">
        var GLOBAL_CONFIG = {
            isLogin: <%= isLogin %>,
            isAdmin: <% if (isLogin) { %><%= isSuper %><%}%>,
            superName: "<%= superName %>",
            userName: "<%= userName %>",
            isReaded: <% if( isLogin && isReaded ){ %><%= isReaded %><%}else{%><%= false %><% } %>,
            watchUrl: <% if( isLogin && isReaded ){ %>'<%- watchUrl %>'<%}else{%>''<% } %>
        }
    </script>
</head>

<body>
<div id="ger-ui"></div>
<script type="text/javascript" src="http://127.0.0.1:8889/dist/main.js"></script>
</body>
</html>
