<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
<div class="container">
    <form class="form-signin" method="post" action="login">
    	<h1>Please sign in</h1>
    	<div class="clearfix">
    		<input type="text" placeholder="User Name" />
    	</div>
    	<div class="clearfix">
    		<input type="password" placeholder="Password" />
    	</div>
    	<div>
    		<button>登录</button>
    	</div>
    </form>
</div> <!-- /container -->
</body>
</html>
