<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title%></title>
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/user.css">
    <script type="text/javascript">
        var GLOBAL_CONFIG = {
            isLogin: <% if (isLogin) { %>true<% }else{ %>false <% }%>,
            character: "<% if (isLogin) { %><%= character %><%}%>",
            userName: "<% if (isLogin) { %><%= userName %><%}%>"
        }

    </script>
</head>

<body>
<div id="ger-ui"></div>
<script type="text/javascript" src="http://127.0.0.1:8889/dist/main.js"></script>
</body>
</html>
