<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户列表</title>
    <link rel="stylesheet" type="text/css" href="css/userlist.css">
</head>

<body>
<div class="container">
    <h1>GER错误监控系统 管理员界面<input type="button" value="退出"/></h1>
    <div class="">
        <div class="left_area fl">
            <a href="javascript:;">添加用户</a><br>
            <a href="javascript:;">错误列表</a>
        </div>
        <div class="right_area">
            <div class="">
                <ul>
                    <li><span>1.用户名 user-1 创建时间:2017-02-01</span><input type="button" value="编辑"/><input type="button" value="删除"/></li>
                    <li><span>2.用户名 user-2 创建时间:2017-02-01</span><input type="button" value="编辑"/><input type="button" value="删除"/></li>
                </ul>                
            </div>
        </div>
    </div>
</div>
</body>
</html>
