<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户列表</title>
    <link rel="stylesheet" type="text/css" href="css/userlist.css">
</head>

<body>
<div class="container">
    <h1>GER错误监控系统 管理员界面<input type="button" value="退出"/></h1>
    <div class="">
        <div class="fl">left</div>
        <div class="">right</div>
    </div>
</div>
</body>
</html>
